{% extends 'base.html' %}
{% load static %} <!-- Asegúrate de que esta línea esté presente -->

{% block content %}
<style>


    .login-container {
        max-width: 400px;
        margin: 50px auto; /* Ajusta el margen superior a 50px y centra horizontalmente */
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    }

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .login-form label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    .login-form button:hover {
        background-color: #0056b3;
    }

    .login-form a {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;
    }

    .login-form a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <form class="login-form" method="post">
        <nav>
            <img src="{% static 'images/logo5.png' %}" alt="Logo de mi proyecto" style="width: 150px; margin-left: 80px; margin-bottom: 20px;margin-top: 10px">
            <!-- Otros elementos de navegación -->
        </nav>
        <h2>Wellcome to your APP</h2>
        {% csrf_token %}
        <label for="username">USER:</label>
        <input type="text" id="username" name="username">
        <label for="password">PSW:</label>
        <input type="password" id="passwaord" name="password">
        <button type="submit">LOG IN</button>
    </form>
</div>
{% endblock %}
