{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilos específicos para el formulario de generación de informes */
    .generar-informe-container {
        max-width: 600px;
        margin: 60px auto;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .generar-informe-container h1 {
        color: #007bff;
        margin-bottom: 20px;
        text-align: center;
    }

    .generar-informe-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .generar-informe-form label {
        color: #007bff;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .generar-informe-form input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .generar-informe-form button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .generar-informe-form button[type="submit"]:hover {
        background-color: #0056b3;
    }

    @media (max-width: 576px) {
        .generar-informe-container {
            margin: 40px 10px;
        }
    }
</style>

<div class="generar-informe-container">
    <h1>Rango de Fechas</h1>
    <form class="generar-informe-form" method="post">
        {% csrf_token %}
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required />

        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required />

        <button type="submit">Generar Informe</button>
    </form>
</div>
{% endblock %}
