{% extends "base.html" %}

{% block extra_styles %}
<style>

  
    .tittle-container {
        background-color: #f0f4f8;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        max-width: 600px;
        margin: 20px auto;
        overflow-y: auto; /* Habilitar desplazamiento vertical */
    }

    .subtitle-container {
        margin-top: 20px;
    }

    .chat-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 500px;
        width: 400px;
        overflow-y: auto;
        padding: 10px;
        margin-top: 20px;
        margin: 20px auto; /* Centrar el chat */
    }

    .chat-header {
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
        padding: 10px;
        text-align: center;
    }

    .chat-form {
        margin-top: 10px;
    }

    .chat-messages {
        margin-top: 10px;
    }

    .chat-message {
        margin-bottom: 5px;
    }

    .user {
        font-weight: bold;
    }

    .timestamp {
        color: #999;
        font-size: 0.8em;
        margin-left: 5px;
    }

    @media screen and (min-width: 768px) {
        .tittle-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
{% endblock extra_styles %}


{% block content %}
<div class="main-container">
    <div class="tittle-container">
        <h1>Bienvenido a <span style="color: #007bff;">Veas App</span></h1>
        <div class="subtitle-container">
            <p style="font-size: larger;">Tu gestor de costos personalizado</p>
        </div>
    </div>

    <div class="chat-container">
        <div class="chat-header">Chat Empresas Veas</div>

        <form class="chat-form" action="{% url 'send_message' %}" method="post">
            {% csrf_token %}
            <input type="text" name="content">
            <button type="submit">Enviar</button>
        </form>

        <div class="chat-messages">
            {% for message in messages %}
            <div class="chat-message">
                <span class="user">{{ message.user.username }}:</span> {{ message.content }}
                <span class="timestamp">({{ message.timestamp|date:"Y-m-d H:i:s" }})</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
