{% extends "base.html" %}

{% block extra_styles %}
<style>
  .tittle-container {
      background-color: #f0f4f8;
      text-align: center;
      width: 500px;
      margin: 20px 0;
      margin-bottom: 5px;
  }
  
  .subtitle-container {
      margin-top: 10px;
  }
  
  .chat-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 400px;
      width: 500px;
      padding: 10px;
      margin: 10px auto;
      overflow-y: auto;
      margin-bottom: 5px;
  }
  
  .chat-header {
      background-color: #007bff;
      border-bottom: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
      padding: 10px;
      text-align: center;
      color: #fff;
      margin-bottom: 5px;
  }
  
  .chat-form {
      margin-top: 10px;
      margin-bottom: 5px;
  }
  
  .chat-messages {
      margin-top: 10px;
  }
  
  .chat-message {
      margin-bottom: 5px;
  }
  
  .user {
      font-weight: bold;
  }
  
  .timestamp {
      color: #999;
      font-size: 0.6em;
      margin-left: 5px;
  }
  
  table {
      width: 800px;
      border-collapse: collapse;
      margin: 5px auto;
      max-height: 250px;
      overflow-y: auto;
  }
  
  th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  
  th {
      background-color: #007bff;
      color: #fff;
  }
  
  .titulo {
      font-size: 20px;
      margin: 20px auto 10px;
      text-align: center;
  }

  /* Ajustes para centrar contenedores */
  .tittle-container,
  .chat-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  
  @media screen and (min-width: 600px) {
      .tittle-container,
      .chat-container {
          width: 500px;
      }
  }
  
  .tittle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .table-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10px;
  }
  
  .table-container > * {
      flex-basis: calc(50% - 5px);
      margin-bottom: 10px;
  }
</style>
{% endblock extra_styles %}

{% block content %}
<div class="main-container">
  <div class="tittle-container">
    <h1>Bienvenido a <span style="color: #007bff;">Veas App</span></h1>
    <div class="subtitle-container">
      <p style="font-size: larger;">Tu gestor de costos personalizado</p>
    </div>
  </div>
  
  <div class="chat-container">
    <div class="chat-header">Chat Empresas Veas</div>
    <form class="chat-form" action="{% url 'send_message' %}" method="post">
      {% csrf_token %}
      <input type="text" name="content" placeholder="Escribe tu mensaje aquí...">
      <button type="submit">Enviar</button>
    </form>
    <div class="chat-messages">
      {% for message in messages %}
      <div class="chat-message">
        <span class="user">{{ message.user.username }}:</span> {{ message.content }}
        <span class="timestamp">({{ message.timestamp|date:"Y-m-d H:i:s" }})</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="main-container">
  <div class="titulo">Tareas Pendientes</div>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha de Vencimiento</th>
        <th>Estado</th>
        <th>A Cargo</th>
      </tr>
    </thead>
    <tbody>
      {% for tarea in tareas_pendientes %}
      <tr>
        <td>{{ tarea.titulo }}</td>
        <td>{{ tarea.descripcion }}</td>
        <td>{{ tarea.fecha_vencimiento }}</td>
        <td>{{ tarea.estado }}</td>
        <td>{{ tarea.nombres_asignados }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="main-container">
  <div class="titulo">Tareas Completadas</div>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha de Vencimiento</th>
        <th>A Cargo</th>
      </tr>
    </thead>
    <tbody>
      {% for tarea in tareas_completadas %}
      <tr>
        <td>{{ tarea.titulo }}</td>
        <td>{{ tarea.descripcion }}</td>
        <td>{{ tarea.fecha_vencimiento }}</td>
        <td>{{ tarea.nombres_asignados }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
