{% extends 'base.html' %}

{% block extra_styles %}
<style>
  /* Estilos generales para el informe financiero */
  body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      color: #000;
      margin: 0;
      padding: 0;
  }
  .button {
      background-color: #0056b3;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      margin-top: 1em;
  }
  .button:hover {
      background-color: #003d82;
  }
  .card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      padding: 20px;
      width: 90%;
      max-width: 1000px;
  }
  h1, h2, h4 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 15px;
  }
  h1 { color: #0e0e0e; }
  h2 { color: #136eff; }
  h4 { color: #333; }
  .card ul {
      padding-left: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .card li { margin-bottom: 10px; }
  table {
      width: 90%;
      margin: 0 auto 20px auto;
      border-collapse: collapse;
      background-color: #fff;
      border: 1px solid #ddd;
  }
  th, td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: center;
  }
  th {
      background-color: #f2f2f2;
      font-weight: bold;
  }
  tr:nth-child(even) { background-color: #f9f9f9; }
</style>
{% endblock extra_styles %}

{% block content %}
<div class="card">
    <h4>Este informe financiero corresponde a las fechas entre {{ fecha_inicio }} y {{ fecha_fin }}</h4>
</div>

<button class="button" onclick="printPage()">Descargar PDF o Imprimir</button>

<div class="card">
    <h2>Resumen</h2>
    <p style="font-size: 16px; font-weight: bold; text-align: justify; margin-bottom: 10px;">
        En este informe se presenta un resumen del balance financiero correspondiente al período entre 
        <strong>{{ fecha_inicio }}</strong> y <strong>{{ fecha_fin }}</strong>.
    </p>
    <p style="font-size: 16px; text-align: justify;">
        El balance total es de 
        <span style="color: #007bff; font-weight: bold;">{{ balance }} CLP</span>. 
        Durante este período se emitieron un total de 
        <span style="color: #007bff; font-weight: bold;">{{ num_cotizaciones_emitidas }}</span> cotizaciones, 
        de las cuales 
        <span style="color: #007bff; font-weight: bold;">{{ num_cotizaciones_aceptadas }}</span> fueron aceptadas y 
        <span style="color: #007bff; font-weight: bold;">{{ num_cotizaciones_rechazadas }}</span> fueron rechazadas.
    </p>
</div>

<div class="card">
    <h2>Cotizaciones Rechazadas</h2>
    <ul>
        {% for numero_cotizacion, comentario in cotizaciones_rechazadas %}
          <li><strong>{{ numero_cotizacion }}</strong> - {{ comentario }}</li>
        {% endfor %}
    </ul>
</div>

<div class="card">
    <h2>Informes de Ventas</h2>
    <h4>Ventas totales: {{ suma_valores_totales_ventas }}</h4>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        {% for informe in lista_informes_ventas %}
          <tr>
            <td>{{ informe.0 }}</td>
            <td>{{ informe.1 }}</td>
            <td>{{ informe.2 }}</td>
            <td>{{ informe.3 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="card">
    <h2>Informes de Compras</h2>
    <h4>Compras totales: {{ suma_valores_totales_compras }}</h4>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Valor Unitario</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        {% for informe in lista_informes_compras %}
          <tr>
            <td>{{ informe.0 }}</td>
            <td>{{ informe.1 }}</td>
            <td>{{ informe.2 }}</td>
            <td>{{ informe.3 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<script>
  function printPage() {
      window.print();
  }
</script>
{% endblock %}
