{% extends "base.html" %}

{% block content %}
<!-- Barra superior con "Estás buscando", gráfico pequeño y botón -->
<div class="container mt-4 mb-4">
    <div class="row align-items-center">
        <!-- Texto: Estás buscando -->
        <div class="col-md-4">
            <h2 class="mb-3">
                Estás buscando: <strong>{{ query }}</strong>
            </h2>
        </div>

        <!-- Pequeño gráfico tipo barra horizontal -->
        <div class="col-md-4 d-flex justify-content-center">
            <div class="small-chart-container">
                <canvas id="mySmallChart"></canvas>
            </div>
        </div>

        <!-- Botón de Descargar PDF -->
        <div class="col-md-4 text-right">
            <button class="btn btn-primary" onclick="printPage()">Descargar PDF o Imprimir</button>
        </div>
    </div>
</div>

{% if metricas1 %}
<div class="container">
    <!-- Fila de métricas -->
    <div class="row metrica1-container">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Último valor de Venta por Rental Veas</div>
                    {% if metricas1.valor_unitario_venta_rental_veas and metricas1.valor_unitario_venta_rental_veas != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.valor_unitario_venta_rental_veas }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Último valor de Compra por Rental Veas</div>
                    {% if metricas1.valor_unitario_compra_rental_veas and metricas1.valor_unitario_compra_rental_veas != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.valor_unitario_compra_rental_veas }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Último valor Cotizado desde Rental Veas a clientes</div>
                    {% if metricas1.valor_unitario_cotizado_rental_veas and metricas1.valor_unitario_cotizado_rental_veas != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.valor_unitario_cotizado_rental_veas }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Último valor Cotizado desde Proveedores a Rental Veas</div>
                    {% if metricas1.valor_unitario_cotizado_proveedores and metricas1.valor_unitario_cotizado_proveedores != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.valor_unitario_cotizado_proveedores }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Precio Promedio Venta -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Precio Promedio de Ventas de Rental Veas</div>
                    {% if metricas1.promedio_venta_valor_unitario and metricas1.promedio_venta_valor_unitario != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.promedio_venta_valor_unitario }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Precio Promedio Compra -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Precio Promedio de Compra de Rental Veas</div>
                    {% if metricas1.promedio_compra_valor_unitario and metricas1.promedio_compra_valor_unitario != 'No disponible' %}
                        <div class="metrica-valor">${{ metricas1.promedio_compra_valor_unitario }}</div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Utilidades -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Utilidad del producto en la Última Compraventa</div>
                    {% if metricas1.utilidad_ultima_compraventa and metricas1.utilidad_ultima_compraventa != 'No disponible' %}
                        <div class="metrica-valor">
                            ${{ metricas1.utilidad_ultima_compraventa|floatformat:2 }}
                        </div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow mb-4 metrica1-card">
                <div class="card-body">
                    <div class="metrica-titulo">Utilidad promedio del producto</div>
                    {% if metricas1.utilidad_promedio_historica and metricas1.utilidad_promedio_historica != 'No disponible' %}
                        <div class="metrica-valor">
                            ${{ metricas1.utilidad_promedio_historica|floatformat:2 }}
                        </div>
                    {% else %}
                        <div class="metrica-valor">No disponible</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Gráfico de Barras 1 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card chart-card shadow mb-4" id="bar-chart-card">
                <div class="card-body">
                    <canvas id="graficoBarras"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gráfico de Líneas -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card chart-card shadow mb-4" id="line-chart-card">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gráfico de Barras 2 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card chart-card shadow mb-4" id="line-chart-card2">
                <div class="card-body">
                    <canvas id="graficodebarras2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Cargar Chart.js y plugins (esto es seguro, ya que no afectan a jQuery) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>

<!-- Script para la pequeña gráfica de barra horizontal -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const etiquetas = JSON.parse('{{ etiquetas_pie|safe }}');
    const valores = JSON.parse('{{ valores_pie_chart|safe }}');
    const configSmallChart = {
        type: 'bar',
        data: {
            labels: etiquetas,
            datasets: [{
                label: 'Veces Cotizado, Comprado o Vendido',
                data: valores,
                backgroundColor: 'rgba(54, 162, 235, 0.7)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            maintainAspectRatio: false,
            animation: { duration: 1500 },
            plugins: { title: { display: false }, legend: { display: false }, tooltip: { enabled: true } },
            scales: { x: { display: false, beginAtZero: true }, y: { display: false } }
        }
    };
    var ctxSmall = document.getElementById('mySmallChart').getContext('2d');
    new Chart(ctxSmall, configSmallChart);
});
</script>

<!-- Script para el primer gráfico de barras (Ranking Últimos Precios) -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var empresas = JSON.parse('{{ empresas|safe }}');
    var valores = JSON.parse('{{ valores|safe }}');
    const backgroundColors = [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
    ];
    const minValueIndex = valores.indexOf(Math.min(...valores));
    let customBackgroundColors = [...backgroundColors].slice(0, empresas.length);
    let customBorderColors = [...backgroundColors].slice(0, empresas.length);
    customBackgroundColors[minValueIndex] = 'rgb(102, 187, 106)';
    customBorderColors[minValueIndex] = 'rgb(102, 187, 106)';
    var ctx = document.getElementById('graficoBarras').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: empresas,
            datasets: [{
                label: 'Ranking Últimos Precios por Proveedor',
                data: valores,
                backgroundColor: customBackgroundColors,
                borderColor: customBorderColors,
                borderWidth: 2
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                x: { gridLines: { display: false } },
                y: { beginAtZero: true, gridLines: { display: true } }
            },
            legend: { display: false },
            tooltips: { mode: 'index', intersect: false },
            animation: { duration: 2000 },
            plugins: {
                annotation: {
                    annotations: [{
                        type: 'line',
                        mode: 'vertical',
                        scaleID: 'x',
                        value: empresas[minValueIndex],
                        borderColor: 'red',
                        borderWidth: 3,
                        label: {
                            enabled: true,
                            content: 'Mejor precio',
                            position: 'top',
                            backgroundColor: 'rgba(255, 99, 132, 0.8)',
                            yAdjust: -6,
                        }
                    }]
                }
            },
            onClick: function(event, elements) {
                if (elements.length > 0) {
                    const datasetIndex = elements[0].datasetIndex;
                    const index = elements[0].index;
                    const datasetLabel = config.data.datasets[datasetIndex].label;
                    const label = config.data.datasets[datasetIndex].data[index].label;
                    alert(`${datasetLabel}: ${label}`);
                }
            }
        }
    });
});
</script>

<!-- Script para el gráfico de líneas -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const fechasCompraRentalVeas = JSON.parse('{{ fechas_compra_rental_veas|safe }}');
    const valoresUnitariosCompraRentalVeas = JSON.parse('{{ valores_unitarios_compra_rental_veas|safe }}');
    const fechasVentaRentalVeas = JSON.parse('{{ fechas_venta_rental_veas|safe }}');
    const valoresUnitariosVentaRentalVeas = JSON.parse('{{ valores_unitarios_venta_rental_veas|safe }}');
    const fechasCotizacionRentalVeas = JSON.parse('{{ fechas_cotizacion_rental_veas|safe }}');
    const valoresUnitariosCotizacionRentalVeas = JSON.parse('{{ valores_unitarios_cotizacion_rental_veas|safe }}');
    const fechasCotizacionProveedores = JSON.parse('{{ fechas_cotizacion_proveedores|safe }}');
    const valoresUnitariosCotizacionProveedores = JSON.parse('{{ valores_unitarios_cotizacion_proveedores|safe }}');
    const numerosDocumentosCompraRentalVeas = JSON.parse('{{ numeros_documentos_compra_rental_veas|safe }}');
    const numerosDocumentosVentaRentalVeas = JSON.parse('{{ numeros_documentos_venta_rental_veas|safe }}');
    const numerosDocumentosCotizacionRentalVeas = JSON.parse('{{ numeros_documentos_cotizacion_rental_veas|safe }}');
    const numerosDocumentosCotizacionProveedores = JSON.parse('{{ numeros_documentos_cotizacion_proveedores|safe }}');

    const datosCompraRentalVeas = fechasCompraRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCompraRentalVeas[index],
        label: numerosDocumentosCompraRentalVeas[index]
    }));

    const datosVentaRentalVeas = fechasVentaRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosVentaRentalVeas[index],
        label: numerosDocumentosVentaRentalVeas[index]
    }));

    const datosCotizacionRentalVeas = fechasCotizacionRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCotizacionRentalVeas[index],
        label: numerosDocumentosCotizacionRentalVeas[index]
    }));

    const datosCotizacionProveedores = fechasCotizacionProveedores.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCotizacionProveedores[index],
        label: numerosDocumentosCotizacionProveedores[index]
    }));

    const config = {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'Compras de Rental Veas',
                    data: datosCompraRentalVeas,
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.05,
                    pointRadius: 6
                },
                {
                    label: 'Ventas de Rental Veas',
                    data: datosVentaRentalVeas,
                    fill: false,
                    borderColor: 'rgb(54, 162, 235)',
                    tension: 0.05,
                    pointRadius: 6
                },
                {
                    label: 'Cotizaciones a Clientes',
                    data: datosCotizacionRentalVeas,
                    fill: false,
                    borderColor: 'rgb(140, 230, 20)',
                    tension: 0.05,
                    pointRadius: 6
                },
                {
                    label: 'Cotizaciones de Proveedores',
                    data: datosCotizacionProveedores,
                    fill: false,
                    borderColor: 'rgb(153, 102, 255)',
                    tension: 0.05,
                    pointRadius: 6
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        tooltipFormat: 'yyyy-MM-dd'
                    },
                    distribution: 'linear'
                }
            },
            plugins: {
                tooltip: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        label: function(context) {
                            let label = context.dataset.label || '';
                            if (label) { label += ': '; }
                            label += context.parsed.y;
                            return label;
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Evolución de Precios',
                    font: { size: 20 }
                }
            },
            hover: { mode: 'nearest', intersect: true },
            onClick: function(event, elements) {
                if (elements.length > 0) {
                    const datasetIndex = elements[0].datasetIndex;
                    const index = elements[0].index;
                    const datasetLabel = config.data.datasets[datasetIndex].label;
                    const label = config.data.datasets[datasetIndex].data[index].label;
                    alert(`${datasetLabel}: ${label}`);
                }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
});
</script>

<!-- Script para el segundo gráfico de barras (Evolución de Precios en Barras) -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const fechasCompraRentalVeas = JSON.parse('{{ fechas_compra_rental_veas|safe }}');
    const valoresUnitariosCompraRentalVeas = JSON.parse('{{ valores_unitarios_compra_rental_veas|safe }}');
    const fechasVentaRentalVeas = JSON.parse('{{ fechas_venta_rental_veas|safe }}');
    const valoresUnitariosVentaRentalVeas = JSON.parse('{{ valores_unitarios_venta_rental_veas|safe }}');
    const fechasCotizacionRentalVeas = JSON.parse('{{ fechas_cotizacion_rental_veas|safe }}');
    const valoresUnitariosCotizacionRentalVeas = JSON.parse('{{ valores_unitarios_cotizacion_rental_veas|safe }}');
    const fechasCotizacionProveedores = JSON.parse('{{ fechas_cotizacion_proveedores|safe }}');
    const valoresUnitariosCotizacionProveedores = JSON.parse('{{ valores_unitarios_cotizacion_proveedores|safe }}');
    const numerosDocumentosCompraRentalVeas = JSON.parse('{{ numeros_documentos_compra_rental_veas|safe }}');
    const numerosDocumentosVentaRentalVeas = JSON.parse('{{ numeros_documentos_venta_rental_veas|safe }}');
    const numerosDocumentosCotizacionRentalVeas = JSON.parse('{{ numeros_documentos_cotizacion_rental_veas|safe }}');
    const numerosDocumentosCotizacionProveedores = JSON.parse('{{ numeros_documentos_cotizacion_proveedores|safe }}');

    const datosCompraRentalVeas = fechasCompraRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCompraRentalVeas[index],
        label: numerosDocumentosCompraRentalVeas[index]
    }));

    const datosVentaRentalVeas = fechasVentaRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosVentaRentalVeas[index],
        label: numerosDocumentosVentaRentalVeas[index]
    }));

    const datosCotizacionRentalVeas = fechasCotizacionRentalVeas.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCotizacionRentalVeas[index],
        label: numerosDocumentosCotizacionRentalVeas[index]
    }));

    const datosCotizacionProveedores = fechasCotizacionProveedores.map((fecha, index) => ({
        x: fecha,
        y: valoresUnitariosCotizacionProveedores[index],
        label: numerosDocumentosCotizacionProveedores[index]
    }));

    const config = {
        type: 'bar',
        data: {
            labels: fechasCompraRentalVeas,
            datasets: [
                {
                    label: 'Compras de Rental Veas',
                    data: datosCompraRentalVeas,
                    backgroundColor: 'rgb(255, 99, 132)',
                    barThickness: 20,
                    borderWidth: 1,
                },
                {
                    label: 'Ventas de Rental Veas',
                    data: datosVentaRentalVeas,
                    backgroundColor: 'rgb(54, 162, 235)',
                    barThickness: 10,
                    borderWidth: 1,
                },
                {
                    label: 'Cotizaciones a Clientes',
                    data: datosCotizacionRentalVeas,
                    backgroundColor: 'rgb(140, 230, 20)',
                    barThickness: 20,
                    borderWidth: 1,
                },
                {
                    label: 'Cotizaciones de Proveedores',
                    data: datosCotizacionProveedores,
                    backgroundColor: 'rgb(153, 102, 255)',
                    barThickness: 20,
                    borderWidth: 1,
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        tooltipFormat: 'yyyy-MM-dd'
                    },
                    distribution: 'linear'
                },
                y: { beginAtZero: true }
            },
            plugins: {
                tooltip: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        label: function(context) {
                            let label = context.dataset.label || '';
                            if (label) { label += ': '; }
                            label += context.parsed.y;
                            return label;
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Evolución de Precios',
                    font: { size: 20 }
                }
            },
            onClick: function(event, elements) {
                if (elements.length > 0) {
                    const datasetIndex = elements[0].datasetIndex;
                    const index = elements[0].index;
                    const datasetLabel = config.data.datasets[datasetIndex].label;
                    const label = config.data.datasets[datasetIndex].data[index].label;
                    alert(`${datasetLabel}: ${label}`);
                }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('graficodebarras2'),
        config
    );
});
</script>
{% endblock %}
